h1{
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    text-decoration:underline;
    text-shadow: 10px 4px 10px yellow;
}
img {
    height: 200px;
    object-fit: cover;
    width: 280px;
    margin: 15px;
    border-radius: 10px;
}
img:hover{
    opacity: 0.8;
    background-color: black;
}